<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop - eCommerce HTML5 Template.</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

</head>
<script th:inline="javascript">
    var tagIndex = 0;
    $(document).ready(function(){
        Dropzone.options.fileDropzone = {
            url: 'http://localhost:8080/item/add', //업로드할 url (ex)컨트롤러)
            init: function () { /* 최초 dropzone 설정시 init을 통해 호출 */
                var myDropZone = this;
                var submitButton = document.getElementById("btn-upload-file");
                submitButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    console.log("업로드"); //tell Dropzone to process all queued files
                    myDropZone.processQueue();
                });

                this.on("sendingmultiple",function(data, xhr, formData){
                    let inputList = document.getElementById("form").getElementsByTagName("input");
                    console.log("inputList = " + inputList);
                    for (let i = 0; i <inputList.length; i++) {
                        console.log(inputList[i].name + " = " + inputList[i].value);
                        formData.append(inputList[i].name, inputList[i].value);
                    }
                    let selectTags = document.getElementsByClassName("tagify__tag-text");
                    var selectTagParams = new Array();
                    for (let i = 0; i < selectTags.length; i++) {
                        selectTagParams.push(selectTags[i].innerText);
                    }
                    formData.append("selectTags", selectTagParams);
                    formData.append("category", document.getElementById("category").value);
                    formData.append("itemDsc", document.getElementById("itemDsc").value);
                    console.log(formData);
                });

            },
            autoProcessQueue: false, // 자동업로드 여부 (true일 경우, 바로 업로드 되어지며, false일 경우, 서버에는 올라가지 않은 상태임 processQueue() 호출시 올라간다.)
            clickable: true, // 클릭가능여부
            thumbnailHeight: 120, // Upload icon size
            thumbnailWidth: 120, // Upload icon size
            maxFiles: 3, // 업로드 파일수
            maxFilesize: 10, // 최대업로드용량 : 10MB
            parallelUploads: 3, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
            addRemoveLinks: true, // 삭제버튼 표시 여부
            dictRemoveFile: 'delete', // 삭제버튼 표시 텍스트
            uploadMultiple: true, // 다중업로드 기능
        };
    });
    function search(target) {
        var word = target.value;
        var encodeWord = encodeURI(word);
        console.log(word);
        console.log(encodeWord);
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: 'http://localhost:8080/search/tag?searchNm=' + word,
            error: function (err) {
                console.log('실행중 오류가 발생했습니다');
            },
            success: function (dataList) {
                console.log('dataList : ' + dataList);
                $("#tagList").empty();
                var searchWord = $("#tag").val();
                if(dataList.length > 0){
                    for (var i=0;i<dataList.length;i++){
                        $("#tagList").append(
                            "<li style=\"padding: 5px 0px 5px 5px; margin-bottom: 5px; margin-left:15px; border-bottom: 1px solid #efefef; font-size: 14px; \" value='"+dataList[i].tagNm+"'>"+
                                "<a onclick='selectTag(this)' id='"+i+"' value='"+dataList[i].tagNm+"'>"+dataList[i].tagNm+"</a>"+
                            "</li>"
                        )
                    }
                }
            }
        });
    }

    function selectTag(target) {
        var selectTag = $(target).attr("value");
        let tags = document.getElementById("tags");
        let tag = document.createElement("tag");
        tags.appendChild(tag);
        tags.setAttribute("style", "border: 0px; display: inline");
        tag.setAttribute("class", "tagify__tag tagify__noAnim");
        let x = document.createElement("x");
        x.setAttribute("title", "title");
        x.setAttribute("class", "tagify__tag__removeBtn");
        x.setAttribute("role", "button");
        x.setAttribute("aria-label", "remove tag");
        x.setAttribute("onclick", "removeTag(this)");
        let div = document.createElement("div");
        tag.appendChild(x);
        tag.appendChild(div);
        let span = document.createElement("span");
        span.setAttribute("class", "tagify__tag-text");
        span.setAttribute("name", "selectTag_"+tagIndex.toString());
        span.setAttribute("value", selectTag);
        span.innerText = selectTag;
        div.appendChild(span);
        $("#tagList").empty();
        document.getElementById("tag").value = "";
    }

    function removeTag(target) {
        var tag = target.parentNode;
        tag.parentNode.removeChild(tag);
    }

    function tagOnFocus(target){

    }

    // function checkSubmit() {
    //     if()
    // }

</script>

<body class="js">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- End Preloader -->

<!-- Header -->
<header th:replace="fragments/header :: header" />
<!--/ End Header -->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <form class="form" id="form" method="post" action="/item/add" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="form-main">
                            <div class="title">
                                <h4></h4>
                                <h3>Add Your Product</h3>
                            </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input name="itemNm" type="text" placeholder="Enter your product name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Description<span>*</span></label>
                                            <textarea id="itemDsc" name="itemDsc"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Images<span>*</span></label>
                                            <label for="fileDropzone" style="float: right">Upload Image</label>
                                            <div class="dropzone" style="border: 1px solid #e6e2f5" id="fileDropzone"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-head">
                            <div class="single-info" style="margin-bottom: 70px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Category<Name> </Name>*</label>
                                        <div>
                                            <select id="category" name="category" class="nice-select">
                                                <option th:each="category : ${categoryList}"
                                                        th:value="${category.cd}"
                                                        th:utext="${category.cdNm}"
                                                />
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-info" style="margin-bottom: 50px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <span>
                                            <label>Tags<Name> </Name>*</label>
                                        </span>
                                        <span>
                                            <tags id="tags" class="tagify" style="border: 0px"></tags>
                                        </span>
                                        <div>
                                            <input class="form" type="text" id="tag" name="tag" onkeyup="search(this)">
                                            <ul id="tagList"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-info" style="magin-bottom: 70px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Price (KRW)</label>
                                        <input name="itemPrc" type="text" placeholder="Price">
                                    </div>
                                </div>
                            </div>
                            <div class="single-info" style="magin-bottom: 70px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input name="itemAmt" type="text" placeholder="Amount">
                                    </div>
                                </div>
                            </div>
                            <div class="single-info" style="magin-bottom: 70px">
                                <div class="col-12">
                                    <div class="form-group button">
                                        <button type="submit" id="btn-upload-file" class="btn btn-upload-file">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
    <div id="myMap"></div>
</div>
<!--/ End Map Section -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                        <form action="/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->

<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="register.html"><img src="/images/logo2.png" alt="#"></a>
                        </div>
                        <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                        <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>NO. 342 - London Oxford Street.</li>
                                <li>012 United Kingdom.</li>
                                <li>info@eshop.com</li>
                                <li>+032 3456 7890</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-flickr"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <img src="/images/payments.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->



<!-- Jquery -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.0.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Slicknav JS -->
<script src="/js/slicknav.min.js"></script>
<!-- Owl Carousel JS -->
<script src="/js/owl-carousel.js"></script>
<!-- Magnific Popup JS -->
<script src="/js/magnific-popup.js"></script>
<!-- Fancybox JS -->
<script src="/js/facnybox.min.js"></script>
<!-- Waypoints JS -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery Counterup JS -->
<script src="js/jquery-counterup.min.js"></script>
<!-- Countdown JS -->
<script src="/js/finalcountdown.min.js"></script>
<!-- Nice Select JS -->
<script src="/js/nicesellect.js"></script>
<!-- Ytplayer JS -->
<script src="/js/ytplayer.min.js"></script>
<!-- Flex Slider JS -->
<script src="/js/flex-slider.js"></script>
<!-- ScrollUp JS -->
<script src="/js/scrollup.js"></script>
<!-- Onepage Nav JS -->
<script src="/js/onepage-nav.min.js"></script>
<!-- Easing JS -->
<script src="/js/easing.js"></script>
<!-- Google Map JS -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>
<script src="/js/gmap.min.js"></script>
<script src="/js/map-script.js"></script>
<!-- Active JS -->
<script src="/js/active.js"></script>
</body>
</html>