<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Login #9</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Sign In to <strong>Ourprotein</strong></h3>
                  <p th:if="${existMessage == null}" class="mb-4">Please enter your ID and password</p>
                  <p th:if="${existMessage != null}" th:text="${errorMessage}" class="mb-4" style="font-weight: bold; color: red">Error Message</p>
                </div>
                <form  method="post" th:object="${form}">
                  <script th:if="${#fields.hasGlobalErrors()}" th:inline="javascript">
                    var alertMessage = /*[[${#fields.globalErrors()}]]*/ null;
                    alert(alertMessage);
                  </script>
                  <div class="form-group first">
                    <label th:for="*{email}">Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                    <div>
                      <p th:if="${#fields.hasErrors('email')}" style="margin-left: 2px; margin-top: 0px; color: #bd2130; font-size: medium" th:errors="*{email}">error message</p>
                    </div>
                  </div>
                  <div class="form-group last mb-4">
                    <label th:for="*{password}">Password</label>
                    <input type="password" class="form-control" th:field="*{password}">
                    <div>
                      <p th:if="${#fields.hasErrors('password')}" style="margin-left: 2px; margin-top: 0px; color: #bd2130; font-size: medium" th:errors="*{password}">error message</p>
                    </div>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> or sign in with</span>
                  
                  <div class="social-login text-center">
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=b001ffd51a68c280d3fc78d0b7be7a84&redirect_uri=http://localhost:8080/login/kakao&response_type=code" target="_blank">
                      <img src="https://bucketforkoji.s3.ap-northeast-2.amazonaws.com/kojimall/kakao.png" style="width: 40px; height: 40px">
                    </a>
                    <a href="#">
                      <img src="https://bucketforkoji.s3.ap-northeast-2.amazonaws.com/kojimall/naver.png" style="width: 40px; height: 40px">
                    </a>
                    <a href="#">
                      <img src="https://bucketforkoji.s3.ap-northeast-2.amazonaws.com/kojimall/facebook.png" style="width: 40px; height: 40px">
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>